*.swo
*.swp
*~
.meteor/.finished-upgraders
.meteor/.gitignore
.meteor/.id
.meteor/local
notes.txt
notes/
private/
settings.json
settings-dev.json
settings-production.json
settings-localhost.json
smart.lock
todo.txt
