*.swo
*.swp
*~
.meteor/.finished-upgraders
.meteor/.gitignore
.meteor/.id
.meteor/local
notes.txt
notes/
private/
settings.json
settings-dev.json
settings-production.json
settings-localhost.json
settings-idometeor.com.json
settings-opw.idometeor.com.json
settings-demo.idometeor.com.json
smart.lock
todo.txt
