<template name="opwNavigation">

    {{!-- Sometimes.. there is just no pretty way to Bootstrap >:| --}}
    <nav 
        id="opw-primary-nav" 
        class="navbar{{opwNavbarContextualClass}}{{opwIfNavbarIsFixed}}">

        <div class="container{{opwIfNavbarIsFluid}}">

            {{>opwNavigationMobile}}

            <div id="opw-navigation" class="{{opwCollapseNavbar}}" >

                <ul class="{{opwNavbarClasses}}">

                    <li>
                        <a class="page-scroll hide" href="#top">One Page Wonder</a>
                    </li>

                    {{!-- Dynamic rows --}}
                    {{#each opwRows}}

                        {{!-- > opwNavigationItem --}}
                        <li>
                            <a class="page-scroll" href="#{{slug}}">{{title}}</a>
                        </li>

                    {{/each}}

                    {{!-- Detailed contact form --}}
                    {{#if opwShowDetailedContactLink}}
                        <li id="opw-contact-detailed">
                            <a>
                                <span class="fa fa-pencil"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{!-- Change theme --}}
                    {{#if opwAllowDynamicTheme}}
                        <li id="opw-change-navigation">
                            <a>
                                <span class="fa fa-paint-brush"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{!-- Change navigation style --}}
                    {{#if opwAllowDynamicNavigation}}
                        <li id="opw-change-navigation">
                            <a>
                                <span class="fa fa-magic"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{!-- Add row --}}
                    {{#if currentUser}}
                        <li id="opw-add-row">
                            <a>
                                <span class="fa fa-gear"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{!-- Authentication --}}
                    {{#if currentUser}}
                        <li id="opw-logout">
                            <a class="opw-auth-icon">
                                <span class="fa fa-sign-out text-danger"></span>
                            </a>
                        </li>
                    {{else}}
                        <li id="opw-login">
                            <a class="opw-auth-icon">
                                <span class="fa fa-sign-in"></span>
                            </a>
                        </li>
                    {{/if}}

                </ul>
            </div>

        </div>
    </nav>

</template>



<template name="opwNavigationItem">

    <li>
        <a class="page-scroll" href="#{{slug}}">{{title}}</a>
    </li>

</template>



<template name="opwNavigationMobile">

    <div class="navbar-header">
        <button 
            type="button" 
            class="navbar-toggle collapsed" 
            data-toggle="collapse" 
            data-target="#opw-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll opw-root">
            <img src="{{opwSiteLogoNavigation}}" title="{{opwSiteTitle}}" id="opw-logo" />
            {{opwsiteTitle}}
        </a>
    </div>

</template>



