/** #OnePageWonder by @iDoMeteor v1.0.0-RC.2 **/
/** TODO: Cursor changes, hovers, etc **/

/* Generic Tags */
/* TODO: Some of these tag values should be dynamically set */
html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 101px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p::first-letter {
    font-size: 110%;
    font-weight: bold;
}

section {
    clear: both;
    padding-top: 71px;
}

section:last-of-type {
    padding-bottom: 4em;
}

/* OPW Specific Classes */
.alert {
    max-width: 40em;
    min-width: 15em;
    opacity: .9;
    position: fixed;
    right: 2em;
    top: 2em;
    width: 30%;
    z-index: 1099;
    /* TODO: CSS animation */
}

.bg-invalid {
    background-color: #fee !important;
}

.bg-valid {
    background-color: #efe !important;
}

.float-right {
    float: right;
    position: relative;
}

.full-height {
    min-height: 100%;
}

.inline {
    display: inline;
}

.opw-auth-icon {
    padding: .25em;
    padding-right: 1em;
}

.opw-body-less-padding {
    padding-top: 61px;
}

.opw-body-more-padding {
    padding-top: 101px;
}

.root-height {
    min-height: 100%;
    padding-top: 0px;
}

/* OPW Specific IDs */
#opw-fixed-footer {
    bottom: 0px;
    height: 4em;
    left: 0px;
    padding-top: .75em;
    position: fixed;
    right: 0px;
    z-index: 99;
}

#opw-static-footer {
    height: 4em;
    padding-top: .75em;
}

#opw-brag {
    padding: .25em 1em;
}

#opw-login-section {
    background-color: #000;
    height: 100%;
}

#opw-logo {
    border: 1px solid #333;
    display: inline;
}

/* TODO: Make this & textarea both much nicer */
#opw-new-nav {
}

#opw-new-section {
}

#opw-social {
    float: left;
    padding: .25em 1em;
}

#opw-scroll-to-next {
    text-align: center;
}

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
    }

    .top-nav-collapse {
        padding: 0;
    }

}

/*
 * These were used for testing different BG colors on test
 * pages, leaving as example
#new-page {
    background-color: white;
}

#w00t- {
    background-color: darkred;
}

#subscribe {
    background-color: black;
    text-align: center;
}

#subscribe .container {
    background-color: #000;
    position: relative;
    top: 30%;
}

body::after {
    content: "";
    background-image: url('/opw/images/onepagewonder-logo-1200.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 40%;
    opacity: 0.1;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}
*/

